@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

nav {
  padding: 15px 22px;
}

nav.navbar {
  width: 100%;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

input:active,
input:focus,
button:active,
button:focus,
a:active,
a:focus {
  outline: none;
}

input[type='text'],
input[type='tel'],
input[type='submit'],
input:disabled,
textarea {
  -webkit-appearance: none;
  opacity: 1;
  -webkit-opacity: 1;
}

a:active,
a:focus,
a:focus-visible,
input:active,
input:focus,
button:active,
button:focus,
select:active,
select:focus {
  outline: none !important;
}

a,
label {
  -webkit-tap-highlight-color: transparent;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
